.navbar-form input, .form-inline input {
    width:auto;
}

body {
    padding-top:60px;
}

body.custom-background {
    background: #F1F9F9;
}

footer {
    margin-top:40px;
    padding-top:40px;
    padding-bottom:40px;
    background-color:#ededed;
}


#masthead {
    min-height:199px;
}

#masthead h1 {
    font-size: 55px;
    line-height: 1;
    margin-top:50px;
}

#masthead .well {
    margin-top:31px;
    min-height:127px;
}

.navbar.affix {
    position:fixed;
    top:0;
    width:100%;
}

.story-img {
    margin-top:25%;
    display:block;
}

a,a:hover {
    color:#223344;
    text-decoration:none;
}

.icon-bar {
    background-color:#fff;
}

@media screen and (min-width: 768px) {
    #masthead h1 {
        font-size: 80px;
    }
}

.dropdown-menu {
    min-width: 250px;
}

.panel {
    border-color:transparent;
    border-radius:0;
}

.thumbnail {
    margin-bottom:8px;
}

.img-container {
    overflow:hidden;
    height:170px;
}

.img-container img {
    min-width:280px;
    min-height:180px;
    max-width:380px;
    max-height:280px;
}

.txt-container {
    overflow:hidden;
    height:100px;
}

.panel .lead {
    overflow:hidden;
    height:90px;
}

.label-float{
    margin:0 auto;
    position: absolute;
    top: 0;
    z-index: 1;
    width:100%;
    opacity:.9;
    padding:6px;
    color:#fff;
}

.btn-twitter {background-color:#4099FF;color:#fff;}
.btn-facebook {background-color:#3B5998;color:#fff;}
.btn-google-plus {background-color:#d34836;color:#fff;}

.btn-twitter:hover {background-color:#3088FF;color:#62BBFF;}
.btn-facebook:hover {background-color:#2A4998;color:#4C6BBA;}
.btn-google-plus:hover {background-color:#C23836;color:#E45A58;}

.form-login {
    margin: 0 auto;
    padding: 19px 29px 29px;
    background-color: #FFFFFF;
    color: #990000;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: lighter;
    max-width: 500px;
}

.form-login .form-login-heading {
    color: #00A2D1;
    text-align: center;
}

.form-login input[type="text"],
.form-login input[type="password"],
.form-login input[type="email"] {
    height: 45px;
    padding: 7px 9px;
    font-size: 16px;
}